@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  background-color: lavender;
  font-family: 'Alkatra';
  background-size: 120% 120%;
}
 * {
    margin: 0;
    padding: 0;
  }
  
 nav {
    background-color: lightgreen;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family: 'Alkatra', 'Archivo Narrow';
}
.nav{
  position: fixed;
  width: 100%;
} 
  nav ul {
    display: flex;
    list-style-type: none;
    height: 52px;
    background-color: lightgreen;
    align-items: center;
  }
  
  nav ul li {
    padding: 0 14px;
    font-weight: bold;
  }
  nav ul li button{
    border: none;
    outline: none;
    padding: 10px 13px;
    border-radius: 25px;
    background-color: darkcyan;
    color:beige;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
  }
  nav ul li button:active{
    transform: scale(0.96);
  }
  
  .brand {
    display: flex;
    align-items: center
  }
  .brand {
    margin-left: 80vh;
    font-size: 4vh;
    color:whitesmoke;
  }
  .wrapper{
    margin: 10px auto;
    width: 98%;
  }
  .wrapper img{
    width: 400px;
    height: 360px;
    border-radius: 5%;
    float: left;
    margin-right: 10px;
    box-shadow: 8px 8px 8px ;
  }
  .centered {
    text-align: center;
    font-family: 'Alkatra';
    margin: 1px auto;
    font-size:70px;
    color: beige;
  }
  .wrapper h2{
    font-size:40px;
    font-smooth: 5px;
    color: white;
    font-family:'Archivo Narrow';
   }
   .wrapper  pre{
   font-size: 27px;
   font-family:'Archivo Narrow';
   color: white;
  }
  .wrapper hr{
    border: 3px solid beige;
  }
  .songs{ 
    min-height: 72vh;
    color: white;
   font-family:'Archivo Narrow';
   display: flex;
   margin: 23px auto;
   width: 90%;
   border-radius: 12px;
   padding: 34px;
   background: url('images/eminem/GettyImages-1371126214.webp');
   background-size: 120% 100%;
  }
  .songList h1{
    margin-left: 440px;
    font-family: 'Alkatra';
    font-size:90px;
    color: antiquewhite;
  }
  p{
    font-family: 'Archivo Narrow' ;
    font-size:50px;
    font-weight: bold;
    margin-left: 10px;
  }
  .songName{
    margin-right: 0;
    margin-left: 30px; 
    color:white;
    font-size: 30px;
    font-family:'Roboto' ;
    font-weight: bold;
  }
  .songItemContainer{
    margin-top: 74px;
}

.songItem{
    height: 70px;
    display: flex;
    color:white;
    margin-left: 100px;
    margin-right:  500px;
    align-items: center;
    border-radius: 22px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.songItem img{
    width: 67px;
    margin-left: 5px;
    border-radius: 10px;
}
.play button{
    font-size:medium;
    border: none;
    outline: none;
    padding: 12px 30px;
    border-radius: 22px;
    background-color: darkcyan;
    color:beige;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    margin-left: 22vh;
    margin-right: 1vh;
  }
  .play button:active{
    transform: scale(0.96);
  }
  .songItem1{
    height: 70px;
    display: flex;
    color:white;
    margin-left: 100px;
    margin-right: 500px;
    align-items: center;
    border-radius: 22px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.songItem1 img{
    width: 67px;
    height: 68px;
    margin-left: 5px;
    border-radius: 10px;
}
.songName1{
  margin-right: 0;
  margin-left: 30px; 
  color:white;
  font-size: 30px;
  font-family:'Roboto' ;
  font-weight: bold;
}
.play1 button{
    font-size:medium;
    border: none;
    outline: none;
    padding: 12px 30px;
    border-radius: 22px;
    background-color: darkcyan;
    color:beige;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    margin-left: 7vh;
  }
  .play1 button:active{
    transform: scale(0.96);
  }
  .songItem2{
    height: 70px;
    display: flex;
    color:white;
    margin-left: 100px;
    margin-right: 500px;
    align-items: center;
    border-radius: 22px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.songItem2 img{
    width: 67px;
    height: 68px;
    margin-left: 5px;
    border-radius: 10px;
}
.songName2{
  margin-right: 0;
  margin-left: 30px; 
  color:white;
  font-size: 30px;
  font-family:'Roboto' ;
  font-weight: bold;
}
.play2 button{
    font-size:medium;
    border: none;
    outline: none;
    padding: 12px 30px;
    border-radius: 22px;
    background-color: darkcyan;
    color:beige;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    margin-left: 28.5vh;
  }
  .play2 button:active{
    transform: scale(0.96);
  }
  .songItem3{
    height: 70px;
    display: flex;
    color:white;
    margin-left: 100px;
    margin-right: 500px;
    align-items: center;
    border-radius: 22px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.songItem3 img{
    width: 67px;
    margin-left: 5px;
    border-radius: 10px;
}
.songName3{
  margin-right: 0;
  margin-left: 30px; 
  color:white;
  font-size: 30px;
  font-family:'Roboto' ;
  font-weight: bold;
}
.play3 button{
    font-size:medium;
    border: none;
    outline: none;
    padding: 12px 30px;
    border-radius: 22px;
    background-color: darkcyan;
    color:beige;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    margin-left: 25.5vh;
  }
  .play3 button:active{
    transform: scale(0.96);
  }
  .songItem4{
    height: 70px;
    display: flex;
    color:white;
    margin-left: 100px;
    margin-right: 500px;
    align-items: center;
    border-radius: 22px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.songItem4 img{
    width: 67px;
    margin-left: 5px;
    border-radius: 10px;
}
.songName4s{
  margin-right: 0;
  margin-left: 30px; 
  color:white;
  font-size: 30px;
  font-family:'Roboto' ;
  font-weight: bold;
}
.play4 button{
    font-size:medium;
    border: none;
    outline: none;
    padding: 12px 30px;
    border-radius: 22px;
    background-color: darkcyan;
    color:beige;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    margin-left: 27.5vh;
  }
  .play4 button:active{
    transform: scale(0.96);
  }
  .songName4{
    margin-right: 0;
    margin-left: 30px; 
    color:white;
    font-size: 30px;
    font-family:'Roboto' ;
    font-weight: bold;
  }

